* {
    margin: 0;
}
@font-face {
    font-family: "FiraSansCondensed";
    src: local("FiraSansCondensed"),
        url("./fonts/FiraSansCondensed-SemiBold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "AmazonEmberRegular";
    src: local("AmazonEmberRegular"),
        url("./fonts/AmazonEmberRegular.ttf") format("truetype");
    /* font-weight: bold; */
}
body {
    background-color: rgb(234, 237, 237);
    /* font-family: "FiraSansCondensed"; */
    /* font-family: "Amazon Ember"; */
    font-family: "AmazonEmberRegular";
    /* font-weight: 800; */
}
